.Text-area {
  margin-bottom: 1rem;
  padding: 0.5rem;
  min-height: 25rem;
  max-width: 25rem;
  font-size: 1rem;
  font-family: 'Roboto';
  color: inherit;
  line-height: 1.6;
  border: none;
  border-radius: 0.3rem;
  border-bottom: 1px solid #8080807a;
}

.Text-area:focus {
  outline: turquoise auto;
}

.Text-area-edit {
  border: 1px solid turquoise;
  width: 95%;
}

.Label-textArea {
  display: block;
}
