.Form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.Form-wrapper {
  padding: 1rem;
  background: whitesmoke;
  border-radius: 0.3rem;
}

.Form-buttons {
  display: flex;
  justify-content: space-evenly;
}

label {
  margin-bottom: 1rem;
}
