.Input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: inherit;
  line-height: 1.4;
  border: none;
  border-radius: 0.3rem;
  border-bottom: 1px solid #8080807a;
}

.Input-edit {
  border: 1px solid #6de4d9;
}

.Input:focus {
  outline: turquoise auto;
}

label {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
